.input input{
width: 380px;
height: 30px;
padding-left: 10px;
border: black solid 1.5px;
border-radius: 8px;
margin: 10px;
}
.input{
    margin-top: 80px;
text-align: center;
}
.button {
margin: 10px;
width: 120px;
height: 30px;
border-radius: 10px;
cursor: pointer;
}
